<h1> {{ repertory.name }} </h1>

<h3> {{ repertory.note }} </h3>


<h3> Music List</h3>
<table border=1>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Tonality</th>
        <th>Rehearsed</th>    
        <th>Note</th>
        <th>Link</th>    
    </tr>

    {% for rep_music in musics %}
        <tr>
            <td>{{ rep_music.music.name }}</td>
            <td>{{ rep_music.music.artist }}</td>
            <td>{{ rep_music.tonality }}</td>
            <td>{{ rep_music.rehearsed }}</td>
            <td>{{ rep_music.note }}</td>
            <td>{{ rep_music.music.yt_link }}</td>
        </tr>
    {% endfor %}
</table>

<br>
<hr>
<br>

<h3>Add music to this repertory</h3>

<form action="" method="post">
    {% csrf_token %}
    {{ add_music_form.as_p }}
    <input type="submit" value="Add music">
</form>
