<h1> {{ repertory.name }} </h1>

<h3> {{ repertory.note }} </h3>


<h3> Music List</h3>
<table border=1>
    <tr>
        <th>Name</th>
        <th>Artist</th>
        <th>Tonality</th>
        <th>Rehearsed</th>    
        <th>Note</th>
        <th>Link</th>    
    </tr>

    {% for rm in music_set %}
        <tr>
            <form action="{% url 'update_music'  %}" method="post">
                {% csrf_token %}
                <td>{{ rm.object.music.name }}</td>
                <td>{{ rm.object.music.artist }}</td>
                <td>{{ rm.form.tonality }}</td>
                <td>{{ rm.form.rehearsed }}</td>
                <td>{{ rm.form.note }}</td>
                <td>{{ rm.object.music.yt_link }}</td>
                <input type="hidden" name="rm_pk" value="{{ rm.object.pk }}">
                <input type="hidden" name="r_pk" value="{{ repertory.pk }}">

                <td><input type="submit" value="Update"></td>
            </form>
        </tr>
    {% endfor %}

</table>


<br>
<hr>
<br>

<h3>Add music to this repertory</h3>

<form method="post">
    {% csrf_token %}
    {{ add_music_form.as_p }}
    <input type="submit" value="Add music">
</form>
